@import '../_breakpoints';
@import '../_variables';

#navbar {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // position: fixed;
  width: calc(100% - 4rem);
  background-color: #292929;
  padding: 0 2rem;
  box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.brand {
  img {
    width: 200px;
  }
}

.collapse-menu {
  color: white;
  padding: 0.2rem 0.5rem;
  display: block;
  outline: 1px solid transparent;
  transition: 0.5s outline;

  i {
    font-size: 2rem;
  }
}

.menu-content {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 40px;
  width: 0;
  height: 0;
  border-radius: 10px;
  box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.2);
  color: #cccccc;
  opacity: 0;
  transition: 0.5s opacity;
}

.user-info {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  img {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 0.5rem;
    border: 2px solid #cccccc;
  }

  .title {
    color: #bbbbbb;
  }

  .name {
    font-size: var(--font-size-small);
    color: #ff9100;
  }
}

.nav {
  display: none;
  flex-direction: column;
  gap: 0.3rem;

  li {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: 0.5s background-color;

    &:hover {
      background-color: #ff9100;
      color: white;
    }
  }
}

.menu-wrapper {
  position: relative;

  &:hover {
    .collapse-menu {
      outline: 1px solid #cccccc;
    }

    .menu-content {
      opacity: 1;
      height: auto;
      width: 200px;
      padding: 1rem;

      .user-info,
      .nav {
        display: flex;
      }
    }
  }
}
