@import '../_breakpoints';
@import '../_variables';

#navbar {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - $padding * 2);
  background-color: $dark;
  padding: 0 $padding;
  box-shadow: $default-box-shadow;

  &.affix {
    position: fixed;
    z-index: 999;
  }

  @include respond-to('big') {
    width: calc(100% - $padding-responsive * 2);
    padding: 0 $padding-responsive;
  }
}

.brand {
  img {
    width: 200px;
  }
}

.collapse-menu {
  color: white;
  padding: 0.2rem 0.5rem;
  display: block;
  outline: 1px solid transparent;
  transition: 0.5s outline;

  i {
    font-size: calc($font-size-normal * 2);
    pointer-events: none;
  }

  &:hover {
    outline: 1px solid $light;
  }
}

.menu-content {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 50px;
  width: 0;
  height: 0;
  border-radius: 10px;
  box-shadow: $default-box-shadow;
  color: $light;
  opacity: 0;
  transition: 0.5s opacity;
}

.user-info {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 0.5rem;
    border: 2px solid $light;
    pointer-events: none;
    object-fit: cover;
  }

  .title {
    color: $light;
    pointer-events: none;
  }

  .name {
    font-size: $font-size-small;
    color: $primary;
    pointer-events: none;
  }
}

.nav {
  display: none;
  flex-direction: column;
  gap: 0.3rem;

  li {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: 0.5s background-color;

    &:hover,
    &.active {
      background-color: $primary;
      color: white;
    }
  }
}

.menu-wrapper {
  position: relative;

  &.active {
    .collapse-menu {
      outline: 1px solid $light;
    }

    .menu-content {
      opacity: 1;
      height: auto;
      width: 200px;
      padding: 1rem;

      .user-info,
      .nav {
        display: flex;
      }
    }
  }
}
