@import '../_breakpoints';
@import '../_variables';

#player-wrapper {
  background: linear-gradient(45deg, $dark, $dark-light);
  min-height: 100vh;
}

header {
  position: relative;
  z-index: 99;
}

main {
  display: flex;
}

aside {
  width: 350px;
  height: calc(100vh - 80px);
  background-color: $dark-light;
}
