:root {
  // TYPOGRAPHY
  --font-family: 'Roboto', sans-serif;
  --font-size: 0.8rem;
  --font-size-small: 0.9rem;
  --font-size-normal: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-big: 1.3rem;
  --font-size-large: 1.5rem;

  // COLORS
  --primary: #8331a5;
  --primary-light: #b77dcf;
}
