// SCSS VARIABLES
$font-family: var(--font-family);
$font-size: var(--font-size);
$font-size-small: var(--font-size-small);
$font-size-normal: var(--font-size-normal);
$font-size-medium: var(--font-size-medium);
$font-size-big: var(--font-size-big);
$font-size-large: var(--font-size-large);
$primary: var(--primary);
$primary-light: var(--primary-light);
$dark: var(--dark);
$dark-light: var(--dark-light);
$danger: var(--danger);
$danger-light: var(--danger-light);
$light: var(--light);
$a-opaque: var(--a-opaque);
$a-light: var(--a-light);
$a-medium: var(--a-medium);
$padding: var(--padding);
$padding-responsive: var(--padding-responsive);
$default-box-shadow: var(--default-box-shadow);
