@import '_base';
/*GLOBAL STYLES*/

.content {
  padding: 0 $padding;
  display: flex;
  flex-direction: column;

  @include respond-to('big') {
    padding: 0 $padding-responsive;
  }
}

button.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  border-radius: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  text-transform: uppercase;
  background-color: $primary;
  outline: 2px solid transparent;
  transition: 0.3s background-color;
  color: white;

  &:hover {
    background-color: $primary-light;
  }

  &:disabled,
  &[disabled] {
    background-color: $light;
    color: #666666;
    cursor: not-allowed;
  }
}
