*{margin: 0px; padding: 0px;}
.certificado{
    width: 975px;
    height: 630px;
    margin: 5px;
    float: left;
    font-family: Lato,Helvetica,Arial,sans-serif;
    margin-left: calc(50% - 487.5px);
}
.text-center{text-align: center;}
.img-back-cert{
    width: 100%;
    z-index: 0;
    position: relative;
    height: 100%;
}
.conteudo-certificado{
    z-index: 1;
    position: absolute;
    top: 0px;
    margin: 130px auto;
    float: left;
    width: 975px;
    height: 630px;
}
.titulo-certificado{
    font-size: 42px;
    margin: 2px 0px 26px 0px;
}
.detalhes-certificado{
    font-size: 18px;
    font-weight: normal;
    margin: 8px;
    line-height: 26px;
    max-width: 696px;
    margin: 0 auto;
}
.nome-aluno{
    font-size: 20px;
    font-weight: bold;
}
.curso{
    font-size: 20px;
    font-weight: bold;
}
.mais-detalhes-certificado{
    font-size: 12px;
    font-weight: normal;
    margin: 16px;
    font-style: italic;
    width: 790px;
}
.data-certificado{
    font-size: 16px;
    font-weight: 600;
    margin: 18px 0px 22px 30%;
}
