:root {
  /*COLORS*/
  --color-primary: #8542ff;
  --color-secondary: #1b181f;
  --color-white: #ffffff;

  /*TYPOGRAPHY*/
  --font-family: Inter, sans-serif;
  --heading-1: 700 24px var(--font-family);
  --heading-2: 600 15px var(--font-family);
  --body: 400 12px var(--font-family);
  --body-bold: 700 12px var(--font-family);
}
