main {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: calc(100vh - 48px);
}

@media screen and (min-width: 768px) {
    main {
        flex-direction: row-reverse;
    }
}

.status__bar {
    width: 80%;
    height: 5px;
    background-color: var(--color-white);
}

.status__completed {
    width: 88%;
    height: 100%;
}

@keyframes loading {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  
  .loading-background {
    background: linear-gradient(90deg, #8542FF, #8B5CFF, #8542FF);
    background-size: 200% 100%;
    animation: loading 2s ease-in-out infinite;
}