
.container-player {
  display: flex;
  flex-direction: column;
}

.player {
  width: 100%;
  min-height: calc(0.5625 * 100vw);
  background-color: black;
}

.content-lesson {
  width: 100%;
  background: #181818;
  padding: 5px 10px;
  color: #ffff;
}

/* PC */
@media screen and (min-width: 768px) {
  .player {
    width: 100%;
    flex-grow: 1;
    min-height: calc(100vh - 48px);
  }
}
